<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    Game made using the points framework in my <a href="https://github.com/Hoffs-/IRC-Java">IRC-Bot</a>.<br><br>
    This application is made using:
  <ul>
      <li><a href="https://nodejs.org/en/">Node.js</a></li>
      <li><a href="http://socket.io/">Socket.io</a></li>
  </ul>
  </body>
</html>
